<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>双飞翼布局</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/layout.css">
</head>

<body>
<!-- title -->
    <div>
        <header>
            层次越高的人越懂得尊重别人
        </header>
    </div>
    <!-- 中间部分 -->
    <div id="am">
        <div class="middle">
            <article class="inner">
            
                <p>
                    人在社会中地位，身份，学历，收入等等可以有高有低，但是作为同一属性的个体-人，本质上都是一样的，这就需要我们互相尊重，尊重是一种平等，不仰望也不俯瞰，不卑不亢。 往往层次越高的人，越懂得尊重别人，因为他们的修养中更加注重平等，价值，人格与尊重。 而层次越低的人，往往自私，目光短浅，他们时时以自我为中心，缺少良好的修养和教养，总是站在自以为是的道德与社会地位的制高点去轻视并指责别人，不懂得尊重人。</p>
                <p>
                    尊重别人，其实是在庄严自己。而懂得尊重别人，也是一个人教养的最大体现。两个人对于同一事物，持不同的看法、态度或者意见，并且都坚信自己是对的，别人对你的否定，批评，你不盲目地听从，而是自己仔细的想一想，那是你有主见的表象，你对别人与你的差异，你不抨击或者以一种平和的角度去交换意见，这就是为尊重。 尊重不仅仅是你的朋友，尊重的范围可以很广泛。 </p>
                尊重别人，包括你的对手，你会因为拥有一个强大的对手而强大，人本身都是懒惰的，因为你拥有对手，你也会从侧面更加的严格要求自己。
                <p>
                    尊重别人，包括曾经嘲笑你的人，嘲笑你的人从积极的方面来说，也是变相给你动力的人，因为人的骨子里都有虚荣心的。尊重别人，包括那些曾经辱骂你的人，因为你的优秀才会得到别人的关注，也因别人达不到你的成就他们才会心生嫉妒之心，最好的还击不是嘴皮子，而是你自身的实力。 尊重别人，包括那些曾经在你背后桶刀的人，因为他们懦弱到在你面前无法出手，人性都是善良的，对于懦弱的人，我们应该更加给予同情。 </p>
                <p>
                    回到开头提到的学历，财富，地位这些因素，其实一个人层次的高低与这些都没有太过直接的关系，层次往往和他的眼界，修养，格局有关系，层次越高的人，往往具有高情商，越懂得尊重别人，在一定程度上，一个懂得尊重别人的人，也必定是一个“优秀”的人。懂得尊重别人是做人最基本的准则，那些做到尊重别人的人，是一种境界，一种美德，因为它不仅反映的是一个人的素质与道德修养，同时也是区分一个人层次高低的主要因素。</p>
                    
            </article>
        </div>
        <!-- 左边部分 -->
        <div class="lsidebar">
            <img src="../layout/image/4558755-b5aae47f50145a2e.jpg" style="width: 180px;height: 300px;">
            <hr/>
            你永远不知道跟你玩的人是谁，要尊重每一个人，也不要轻易看不起和低估任何人。你看到的可能是一点点，而别人其实早已看清你，只是考虑要不要伤害你。
        </div>
        <!-- 右边部分 -->
        <div class="rsidebar">
            “爱人者，人恒爱之；敬人者，人恒敬之”
        </div>
    </div>
    <!-- 底部 -->
    <div>
    	<footer>
    		copyright 2017LM©
    	</footer>
    </div>
</body>

</html>
